.son-material-container{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.son-material-top-menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
}

.son-material-top-menu svg{
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid;
    border-radius: 50% !important;
}

.son-material-top-menu svg:hover{
    background-color: white;
    cursor: pointer;
}

