.home-struct-container{
    padding: 10px;
}

.home-title {
    font-size: 2.6rem; 
    font-weight: bold; 
    color: #333; 
    text-align: center; 
    margin-bottom: 30px; 
    padding-bottom: 10px;
    text-transform: uppercase; 
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); 
    border-bottom: 1px solid var(--color-card-border);
}

@media(min-width:1200px){
    .home-struct-container{
        padding: 50px;
        margin-left: 85px;
        height: 100vh;
    }
}