.son-list-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.son-list-item-buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 5%;
}

.son-list-item-buttons svg:hover{
    cursor: pointer;
}