@font-face {
  font-family: Instagram Sans;
  src: url('./assets/fonts/InstagramSans-Regular.ttf');
  font-weight: 400;
}
@font-face {
  font-family: Instagram Sans;
  src: url('./assets/fonts/InstagramSans-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: Posterama;
  src: url('./assets/fonts/Posterama.ttf');
  font-weight: 400;
}

@font-face {
  font-family: Posterama Bold;
  src: url('./assets/fonts/Posterama-Bold.ttf');
  font-weight: 400;
}

@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --color-bg-primary: #e8e8e8;
  --color-bg-secondary: #ffe500;
  --color-bg-tertiary: #636363;
  --color-bg-quaternary: #0caf1d;
  --color-bg-notification: #f00;

  --color-card-bg: #fff;
  --color-card-border: #d9d9d9;

  --color-btn-primary: #EA0404;
  --color-btn-secondary: #F8ABAB;
  --color-btn-inverse: #fff;

  --color-font-primary: #565656;
  --color-font-secondary: #0caf1d;
  --color-font-tertiary: #fff;
  --color-font-placeholder: #d9d9d9;

  --color-error: #f33;

  --color-yellow-week: #FFFFE8;
  --color-yellow-strong: #FFFFDD;
}

*, *::before, *::after{
  font-family: 'Instagram Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* títulos principais do projeto estão em negrito */
h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  margin-bottom: 0;
  text-decoration: none !important;
}

/* textos -> sem o sublinhado */
a, a:hover{
  text-decoration: none !important;
  color: unset !important;
}

ul {
  list-style-type: none; /* sem as bolinhas pretas no meio */
  margin: 0;
  padding: 0;
}

.base-card{
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, .25);
  background-color: rgba(255, 255, 255, 0.45);
  backdrop-filter: blur(15px);
}

.active-card {
  border-radius: 10px;
  box-shadow: 0 0 5px 4px rgba(76, 215, 224, 0.5);
}

.base-input {
  border-radius: 10px !important;
  padding-left: 12px;
  font-size: 1em;
  letter-spacing: -0.015em;
  height: 40px;
  border: #9E9E9E 1px solid;
  margin-bottom: 20px;
  height: 48px;
  border: 2px solid #eee !important;
  width: 100%;
}

.base-input::placeholder {
  color: #9E9E9E !important;
}

.flex-direction-row{
  display: flex;
  flex-direction: column;
}

.margin-bottom-20{
  margin-bottom: 20px;
}

/* customização do Select */

.css-13cymwt-control{
  height: 48px !important;
  border-radius: 10px !important;
  font-size: 1em;
  letter-spacing: -0.015em;
  border: #9E9E9E 1px solid;
  margin-bottom: 20px;
  height: 48px;
  border: 2px solid #eee !important;
}

.css-t3ipsp-control{
  height: 48px !important;
  border-radius: 10px !important;
  font-size: 1em;
  letter-spacing: -0.015em;
  border: #9E9E9E 1px solid;
  margin-bottom: 20px;
  height: 48px;
  border: 2px solid #eee !important;
}

/* customização do modal */

.modal-overlay{
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content{
  width: 80%;
  max-width: 1200px;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
}

/* CRUDs */

.search-bar-container{
  margin-bottom: 30px;
}

.crud-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 5px;
}

.crud-table-container{
  margin-bottom: 20px;
}

/* list crud table */

.crud-table{
  width: 100%;
  border-spacing: 0;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.10);
  border: 1px solid var(--color-card-border);
  overflow-x: scroll;
}

.crud-table thead tr {
  width: 100%;
  overflow-x: scroll;
}

.crud-table thead th {
  text-align: left;
  height: 40px;
  font-size: 14px;
  padding-left: 5px;
  background-color: #fff;
  font-weight: bold;
  width: auto;
  overflow: hidden;
  padding-left: 20px;
}

.crud-table tbody td {
  height: 50px;
  border-top: 1px solid #A5AFB5;
  font-size: 1rem;
  transition: background .3s;
  padding-left: 5px;
  color: rgba(0,0,0,0.7);
  width: auto;
  padding-left: 20px;
}

.crud-table tbody td svg{
  height: 20px;
  width: 20px;
  margin-left: 12px;
}

.crud-table tbody td svg:hover{
  cursor: pointer;
}

.crud-table tbody tr:hover > td {
  background-color: rgb(200, 200, 200);
}

.crud-table tbody tr:nth-child(even) {
  background-color: rgb(255, 255, 255);
}

.crud-table tbody tr:nth-child(odd) {
  background-color: rgba(245,245,245,1);
}

.item-row:hover {
  cursor: pointer;
}

/* crud modal */

.crud-modal-title{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid var(--color-card-border);
}

.crud-modal-title svg{
  height: 25px;
  width: auto;
  margin-right: 10px;
}

.crud-modal-title h2{
  margin-bottom: 0;
}

.crud-modal-inputs-container{
  padding: 10px;
  display: flex;
  flex-direction: row;
}

.crud-modal-buttons-container{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid var(--color-card-border);
  padding-top: 20px;
}

.crud-modal-buttons-container button {
  width: 49%;
}

.cancel-button{
  border: 1px solid var(--color-card-border) !important;
}

.cancel-button:hover, .btn-base-filter-clear:hover{
  background-color: var(--color-card-border);
}

@media(min-width:1200px){
  .flex-direction-row{
    display: flex;
    flex-direction: row;
    height: 100%;
  }

  .crud-container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    padding: 50px;
    margin-left: 85px;
  }
  
}